
  
  <nav class="navbar text-white navbar-dark">
    <div class="w-100 bg w-100 rounded-3 py-2 ps-4">
      <ul class="navbar-nav">
        <li class="nav-item py-2">
          <a class="nav-link fs-5 fw-semibold" routerLinkActive="active, icon-active" routerLink="home" href="#">
            <i class="fa-house fa-solid pe-4"></i>
            Home</a>
        </li>
        <li class="nav-item py-2">
          <a class="nav-link fs-5 fw-semibold" routerLinkActive="active, icon-active" routerLink="search" href="#">
            <i class="fa-solid fa-magnifying-glass pe-4"></i>
            Search
          </a>
        </li>
      </ul>
    </div>
  </nav>

